<% include ./partials/boilerplate.ejs %>

Hello Earthlings

<div class = 'searchBar'>
  <input type ='text' class = 'search' placeholder = 'Find a Show!'>
  <button type ='submit' class = 'finder'>Search!</button>
</div>


<script src='/src/main.js'></script>
<% include ./partials/end.ejs %>
