<% include ./partials/boilerplate.ejs %>

<div class = 'logo'>Showsbox</div>

<div class = 'loginPageForms'>
  <form class = 'login' method='POST' action='/auth/login'>
    <div class = 'loginForms'>
      <input name='username' type='text' placeholder='username' required />
      <input name='password' type='password' placeholder='password' required />
    </div>
    <div class = 'loginregbutts'>
    <button  class = 'loginbutt' type='submit'>Log In!</button>
    </form>
  <form method="GET" action="/auth/register">
    <button class = 'loginbutt' type="Register">Register</button>
  </div>
  </form>

</div>

<script src='/src/main.js'></script>
<% include ./partials/end.ejs %>
