<% include ./partials/boilerplate.ejs %>

Hello Earthlings



<form method ='GET' action = '/shows/'>
    <input type ='submit' value = 'Search for Shows!'>
</form>





<% include ./partials/end.ejs %>
