<% include ./partials/boilerplate.ejs %>

<div>
  <form class = 'login' method='POST' action='/auth/login'>
    <input name='username' type='text' placeholder='username' required />
    <input name='password' type='password' placeholder='password' required />
    <button type='submit'>Log In!</button>
  </form>
</div>
<form method="GET" action="/auth/register">
  <button type="Register">Register</button>
</form>


<script src='/src/main.js'></script>
<% include ./partials/end.ejs %>
