<% include ./partials/boilerplate.ejs %>

Hello Earthlings

<input type ='text' class = 'search' placeholder = 'Find a show!'>
<button type ='submit' class = 'finder'>Search!</button>


<script src='/src/main.js'></script>
<% include ./partials/end.ejs %>
