<% include ./partials/boilerplate.ejs %>

Hello Earthlings

<div class = 'searchBar'>
  <input type ='text' class = 'search' placeholder = 'Find a Show!'>
  <button type ='submit' class = 'finder'>Search!</button>
</div>
<form method = 'GET' action = '/shows/favorites'>
  <button type="submit">See Favorites</button>
</form>


<script src='/src/main.js'></script>
<% include ./partials/end.ejs %>
