body{
  background-color: #336699;
}

/* nav{
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.move {
  display: flex;

}

.searchBar {
  display: flex;

} */

.logo{
  font-family: 'Contrail One', cursive;
  font-size: 200px;
  text-align: center;
  margin-top: 10%;
  text-shadow:  0 0 10px white,
                0 0 20px white,
                0 0 30px white,
                0 0 40px rgb(241, 245, 2);


}

/**************************************Large Poster. ************************************************/

.largeContainer{
  display: flex;
  max-width: 800px;
  height: 505px;
  overflow: scroll;
  margin-top: 20px;
  margin-left: 15%;
  margin-bottom: 10px;
}

.largeInfo{
  margin-left: 15px;
  width: 500px;
  height: 500;
  overflow: scroll;
  font-size: 25px;
  color: white;
}

.poster {
  height: 500px;
  width: 350px;
  background-size: cover;
  box-shadow: 5px 5px 5px #262626;
}

/********************************************Login and Register ******************************************/
.loginForms{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
margin-top: 20%;
}

.regbutt{
  background: #e6e6e6;
  margin: 8px;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #262626;
  font-size: 25px;
  width: 135px;
}

.regbutt:hover{
  background: #808080;
  color: white;
}

.loginregbutts{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.loginPageForms{
  margin-top: 10%;
}

/****************************       SHOW CONTAINERS **********************/

.showContainer{
  display: flex;
  margin-bottom: 25px;
  max-width: 450px;
  max-height: 400px;
 }

 .miniPoster {
  height: 350px;
  width: 250px;
  box-shadow: 5px 5px 5px #262626;
  border-radius: 2px;
  background-size: cover;
}

#showsListing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.showInfo{
  margin-left: 10px;
  max-width: 200px;
  max-height: 350px;
  overflow: scroll;
  color: white;
  font-size: 20px;
}
.showPicture{
  display: flex;
  flex-direction: column;
}

.heartless{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin-top: 10%;
  font-size: 50px;
}

/************************************** Seasons  ************************************************/



.seasons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seasonHeader {
  text-align: center;
  margin: 20px 0;
  border: solid;
  background-color: white;
  color: #336699;
  width: 100%;
  font-size: 35px;
}



input[type="text"], textarea {
background-color : white;
}

input[type="password"], textarea {
background-color : white;
}

input[type="email"], textarea {
background-color : white;
}


input{
  font-size: 30px;
  margin: 7px;
  border-radius: 4px;
}

.loginbutt{
  color: black;
  background: #e6e6e6;
  margin: 8px;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #262626;
  font-size: 25px;
  width: 135px;
}

/******************************************* Buttons ***********************************/

.buttonContainer{
  display: flex;
  margin-top: 5px;
}

button{
  color: black;
  background: #e6e6e6;
  margin-top: 6px;
  margin-left: 10px;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #262626;
}

button:hover{
  background: #808080;
  color: white;
}

nav{
  margin: 0 0 15px 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

nav button{
box-shadow: none;
margin: 0;
background-color: white;
padding: 7px;
border-radius: 0;
}

nav button:hover{
  background: #336699;
  color: white;
  border-bottom: black;
}

.logo2{
  float: left;
}

.move {
  display: flex;

}

.searchBar {
  display: flex;
  
}

.search{
  border: 2px solid #e6e6e6
}


.smallLogo {
  font-family: 'Contrail One', cursive;
  font-size: 35px;
  display: flex;
  align-self: center;
  /* text-shadow: 10px 10px  blue, */
}


/****************************************************************************/

h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

b{
  font-weight: bold;
}

p{
  line-height: 125%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
