body{
  background-color: #336699;
  color: white;
}

.poster {
  height: 500px;
  width: 350px;
  background-size: cover;
}

.miniPoster {
  height: 350px;
  width: 250px;
  box-shadow: 5px 5px 5px #262626;
  border-radius: 2px;
  background-size: cover;
}


.largeContainer{
  display: flex;
  max-width: 750px;
  max-height: 500px;
  overflow: scroll;
  margin-top: 15px;
  margin-left: 15%;
}

.largeInfo{
  margin-left: 15px;
  max-width: 400px;
  overflow: scroll;
}

.showContainer{
  display: flex;
  margin-bottom: 25px;
  max-width: 450px;
  max-height: 400px;

 }

#showsListing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.showInfo{
  margin-left: 10px;
  max-width: 150px;
  max-height: 350px;
  overflow: scroll;


}
.showPicture{
  display: flex;
  flex-direction: column;

}

.buttonContainer{
  display: flex;
  margin-top: 10px;
}

.seasons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seasonHeader {
  text-align: center;
  margin-bottom: 20px;
}

.searchBar {
  font-size: 25px;
  text-align: center;
  margin: 15px 0;
}

input[type="text"], textarea {

  background-color : #d1d1d1;

}

button{
  color: black;
  background: #e6e6e6;
  margin-left: 5px;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #262626;
}

button:hover{
  background: #808080;
  color: white;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

b{
  font-weight: bold;
}

p{
  line-height: 125%;
}
