.poster {
  height: 500px;
  width: 350px;
  background-size: cover;
}

.miniPoster {
  height: 350px;
  width: 250px;
  background-size: cover;
}



.largeContainer{
  display: flex;
  max-width: 750px;
  max-height: 500px;
  overflow: scroll;
  margin-top: 15px;
  margin-left: 15%;
  /*line-height: 115%;*/

}

.showContainer{
  display: flex;
  margin-bottom: 10px;
  max-width: 500px;
  max-height: 400px;
  overflow: scroll;
 }

#showsListing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.showInfo{

  max-width: 400px;

}
.showPicture{
  display: flex;

}

.seasons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seasonHeader {
  text-align: center;
  margin-bottom: 20px;
}

.searchBar {
  font-size: 25px;
  text-align: center;
  margin: 15px 0;
}

input[type="text"], textarea {

  background-color : #d1d1d1;

}

button{
  color: yellow;
  background: blue;
}

button:hover{
  background: yellow;
  color: blue;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

b{
  font-weight: bold;
}

p{
  line-height: 125%;
}
