<% include ../partials/boilerplate.ejs %>
<nav>
  <div class = 'searchBar'>
    <input type ='text' class = 'search' placeholder = 'Find a Show!'>
    <button type ='submit' class = 'finder'>Search</button>
  </div>
  <div class = 'move'>
    <form method = 'GET' action = '/shows/favorites'>
      <button type="submit">Favorites</button>
    </form>
    <a href ='/auth/logout'><button>Logout</button></a>
  </div>
</nav>



<script src='/src/main.js'></script>
<% include ../partials/end.ejs %>
