<% include ../partials/boilerplate.ejs %>



<input type ='text' class = 'search' placeholder = 'Pick a Show!'>
<button type ='submit'>Search!</button>



<script src='/src/main.js'></script>

<% include ../partials/end.ejs %>
